@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes float {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(-5deg);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite alternate;
}